<div class="row">
  <div class="span12">
    <div class="well clearfix">
      <h4>Dealer
        <% if @show_dealer_action %>
          has <%= hand_total(session[:dealer_cards])%> and will hit.
        <% end %>
       </h4>
      <p class="pull-left">
        <% session[:dealer_cards].each_with_index do |card, i| %>
          <% if session[:turn] != "dealer" && i == 0 %>
            <img src="/images/cards/cover.jpg" class="card-image">
          <% else %>
            <%= show_card(card) %>
          <% end %>
        <% end %>
      </p>
      <% if @show_dealer_action %>
        <form class="pull-left show-dealer-card" action='/game/dealer/hit' method='post'>
          <input type='submit' class='btn btn-inverse btn-show-card' value='Show Card &rarr;'>
        </form>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div class="well">
      <h4><%=session[:player_name]%> has <%= hand_total(session[:player_cards]) %>. Pot: <%= session[:player_pot] %>, Bet: <%= session[:player_bet] %></h4>
      <p>
        <% session[:player_cards].each do |card| %>
            <%= show_card(card) %>
        <% end %>
      </p>
      <h5></h5>
    </div>
  </div>
</div>

<% if @show_action_buttons %>
<div class="row">
  <div class="span3">
    <form action="/game/player/hit" method="post">
      <input type="submit" class="btn btn-large btn-success btn-block" value="Hit" />
    </form>
  </div>
  <div class="span3">
    <form action="/game/player/stay" method="post">
      <input type="submit" class="btn btn-large btn-warning btn-block" value="Stay" />
    </form>
  </div>
</div>
<% end %>
